/*#test {

}*/

body {
        background-color: #032541;
}

#search-bar {
    width: fit-content;
    margin: 1rem 1rem;
}

#movie-list {
      overflow: scroll;
}

/*#movieModal {
    
}*/

#title-header {
    padding: 1rem 1rem;
}

/*#movieModal img {
    float: left;
}*/

#movie-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

#list-container {
    max-width: 80vw;
    margin: 0 auto;
}

.list-item {
    background-color: ghostwhite;
    padding: 20px;
    cursor: pointer;
}

.list-item:hover{
    background-color: #032541;
    color: ghostwhite;
}